<%= render 'form' %><br>

<center><h1>Listing Tasks</h1></center>

<center>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
</center>
<br>
<center>
  <%= link_to 'Sort by Alphabet', tasks_path(sort_type: :todo, sort_direction: :asc) %>
  <%= link_to 'Sort by Date', tasks_path(sort_type: :created_at) %>
</center>

<br>
<center><table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Date</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <% if task.important %>
          <% if task.done %>
            <td><span style="background-color:#ffcccb;">
              <s><%= task.todo %></s>
            </span></td>
          <% else %>
            <td scope="col"><span style="background-color:#ffcccb;">
              <%= link_to task.todo, task_path(task, { task: { done: true } }),
                                    method: :patch,
                                    data: { confirm: 'You done?' } %>
            </span></td>
          <% end %>
        <% else %>
          <% if task.done %>
            <td scope="col"><s><%= task.todo %></s></td>
          <% else %>
            <td scope="col"><%= link_to task.todo, task_path(task, { task: { done: true } }),
                                      method: :patch,
                                      data: { confirm: 'You done?' } %></td>
          <% end %>
        <% end %>
        <td scope="col"><%= task.created_at.strftime("%Y-%m-%d") %></td>
        <td scope="col"><%= link_to 'Edit', edit_task_path(task) %></td>
        <td scope="col"><%= link_to 'D', task_path(task),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table></center>
<br>
<center><%= paginate @tasks %></center>
