<%= render 'form' %>

<center><h1>Listing Tasks</h1></center>

<center><table>
  <% @tasks.each do |task| %>
    <tr>
<<<<<<< HEAD
      <% unless task.important.eql?(0) %>
        <% if task.done.eql?(0) %>
          <td><span style="background-color:#ffcccb;">
            <%= link_to task.todo, task_path(task, { task:{ done: '1' } }),
                                   method: "patch",
                                   data: { confirm: 'You done?' } %>
          </span></td>
        <% else %>
          <td><span style="background-color:#ffcccb;">
            <s><%= task.todo %></s>
          </span></td>
        <% end %>
      <% else %>
        <% if task.done.eql?(0) %>
          <td><%= link_to task.todo, task_path(task, { task:{ done: '1' } }),
                                     method: "patch",
                                     data: { confirm: 'You done?' } %></td>
        <% else %>
          <td><s><%= task.todo %></s></td>
        <% end %>
=======
      <% if task.done %>
        <td><strong> Task Complete </strong></td>
      <% else %>
        <td><%= link_to 'Done', task_path(task, { task: { done: true } }), method: "patch" %></td>
      <% end %>
      <td><%= task.todo %></td>
      <% if task.important %>
        <td><strong> Important </strong></td>
>>>>>>> b25d51d1a426459c961a68f00d1f26e55a07fb81
      <% end %>
      <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'D', task_path(task),
                           method: :delete,
                           data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table></center>
