<%= render 'form' %>

<center><h1>Listing Tasks</h1></center>

<center><table>
  <% @tasks.each do |task| %>
    <tr>
      <% if task.done %>
        <td><%= link_to 'Done', task_path(task, { task: { done: true } }), method: "patch" %></td>
      <% else %>
        <td><strong> Task Complete </strong></td>
      <% end %>
      <td><%= task.todo %></td>
      <% unless task.important %>
        <td><strong> Important </strong></td>
      <% end %>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'D', task_path(task),
                                 method: :delete,
                                 data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table></center>
