<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main_vue' %>
  </head>

  <body>
    <div id="app">
      <tasks :tasks="<%= @tasks.to_json %>">
      </tasks>
      <center><%= paginate @tasks %></center>
    </div>
  </body>
</html>
